@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.navigationContainer{
    width: auto;
    max-width: 100%;
    border-radius: $border-radius-xl;
    padding: $spacing-1 $spacing-2;
    border: solid 2px $background-color;
    
    @include respond-to($breakpoint-md) {
        padding: $spacing-2 $spacing-2;
    }
    
    @include respond-to-mobile-landscape() {
        padding: $spacing-1;
        border-width: 1px;
        .navItem{
            font-size: $font-xs;
        }
    }

    
    .navItem{
        font-size: $font-xs;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: $background-color;
        border-radius: $border-radius-xl;
        padding: $spacing-1 $spacing-3;
        margin: 0;
        
        @include respond-to($breakpoint-md) {
            font-size: $font-base;
            width: 25%;
            padding: $spacing-2 $spacing-5;
        }
        
        @include respond-to-mobile-landscape() {
            font-size: $font-xs;
            padding: $spacing-1 $spacing-2;
        }
        
        &:hover{
            background-color: $background-color-hover;
        }
        
        &.active{
            background-color: $background-color;
            color: $primary-color;
        }
    }
    
    .logout{
        cursor: pointer;
        &:hover{
            background-color: $error-color;
        }
    }
}