@import "../../assets/styles/mixins";
@import "../../assets//styles/variables";

.mainContainer{
    @include flex-center(row);
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    
    @include respond-to($breakpoint-md) {
        padding-right: 0;
        flex-direction: row;
    }
    
    .leftContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        height: 60vh;
        max-height: 60vh;
        padding: $spacing-3 $spacing-2;
        padding-bottom:  $spacing-8 ;
        width: 100%;

        @include landscape() {
            width: 80vw;
            padding-bottom:  $spacing-9;
        }

        @include fade-in-up(0.8s);
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: $accent-color;
            border-radius: 5px;
            border: 3px solid red;
        }
        
        ::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 5px;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background-color: $accent-color;
        }

        @include respond-to($breakpoint-md) {
            width: 40%;
            height: 100vh;
            max-height: 100vh;
            padding: 0 $spacing-3;
            padding-bottom:  $spacing-10 ;
            @include respond-to-mobile-landscape() {
                padding-bottom: $spacing-6;
            }
        }
        .whiteLogo{
            top: $spacing-1;
            width: 20vw;
            @include respond-to($breakpoint-sm) {
                top: $spacing-7;
                width: 10vw;
                @include respond-to-mobile-landscape() {
                }
            }
            @include landscape() {
                margin-top: $spacing-6;
                margin-bottom: $spacing-3;
                width: 10vw;
            }
        }
        .navigationContainer{
            margin: $spacing-4 0;
            @include respond-to($breakpoint-md) {
                margin: $spacing-6 0;
            }
            @include landscape() {
                margin: $spacing-1 0;
            }
        
        }

        .loginForm{
            width: 100%;
            .inputGroup{
                width: 100%;
                display: flex;
                flex-direction: column;
                @include respond-to($breakpoint-md) {
                    flex-direction: column;
                    align-items: space-between;
                }
                @include landscape() {
                    // flex-direction: row;
                }
            }
    
            .buttonGroup{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 20%;
                width: 100%;
            }
            
        }
    }

    .leftContainerFull{
        height: 100vh;
        max-height: 100vh;
        @include fade-in-down(0.8s);
        @include landscape() {
            width: 80vw;
            max-height: 100vh;
            padding-bottom:  $spacing-8 ;
        }
    }

    .toggleButton{
        position: absolute;
        left: 0;
        top: 60vh;
        border-radius: $border-radius-lg  0 $border-radius-lg 0;
        padding: $spacing-1;
        border: none;
        background-color: $accent-color;
        color: $background-color;
        font-weight: bold;
        z-index:  $z-popover;
        @include fade-in(0.8s);
        &:hover{
            @include pulse(0.8s);
            background-color: darken($color: $accent-color, $amount: 20);
        }
        @include respond-to($breakpoint-md) {
            display: none;
        }
    }

    .toggleButtonActive{
        top: auto;
        bottom: 0;
        border-radius: 0 $border-radius-lg 0 0;
        @include fade-in(0.8s);
    }

    .rightContainer{
        background: $background-color;
        color: $text-color;
        @include box-shadow(3);
        border-radius: $border-radius-lg  $border-radius-lg 0 0;
        flex: 0 0 65vh;   
        overflow-y: auto;
        max-height: 40vh; 
        width: 100%;
        padding: $spacing-1 $spacing-4;
        @include fade-in-up(0.8s);
        
        @include respond-to($breakpoint-md) {
            width: 60%;
            margin-left: $spacing-3;
            border-radius: $border-radius-xxl 0 0 $border-radius-xxl;
            height: 95vh;
            max-height: 95vh; 
            flex: 0 1 65vw;
            padding-top: $spacing-4;
            padding-left: $spacing-7;
            @include respond-to-mobile-landscape() {
                border-radius: $border-radius-xl 0 0 $border-radius-xl ;
            }
        }

        h1 {
            font-size: $font-2xl;
            margin-bottom: $spacing-3;
            color: $primary-color;
            text-align: center;
        }
        h2 {
            font-size: $font-lg;
            margin-top: $spacing-4;
        }
        
        p {
            font-size: $font-sm;
            margin: $spacing-4 $spacing-3;
            color: $light-text;
        }

    }
}

